- name: Configuring Manila service settings
  vars_files: vars.yml
  hosts: localhost
  remote_user: root
  connection: local
  tasks:
    - name: Enable manila 1.0
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_manila: "no"'
        replace: 'enable_manila: "yes"'
    - name: Check Manila backend type
      become: true
      ansible.builtin.shell: awk '/share_backend_name/{print $3}' manila/manila.conf
      register: output
      changed_when: output.rc == 0
    - name: Enable manila 1.1
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_manila_backend_generic: "no"'
        replace: 'enable_manila_backend_generic: "yes"'
      when: output.stdout_lines == 'LVM'
