- name: Main playbook
  hosts: localhost
  gather_facts: true
  remote_user: root
  connection: local
  tasks:
    - name: Docker inititial configuration (dnf)
      ansible.builtin.include_tasks: docker-dnf.yml
      when: ansible_facts['pkg_mgr'] == "dnf"

    - name: Docker inititial configuration (apt)
      ansible.builtin.include_tasks: docker-apt.yml
      when: ansible_facts['pkg_mgr'] == "apt"

    - name: Enable Docker service
      become: true
      ansible.builtin.systemd:
        name: docker
        enabled: true

    - name: Start Docker service
      become: true
      ansible.builtin.systemd:
        name: docker
        state: started

- name: Configure cinder
  ansible.builtin.import_playbook: cinder/main.yml

- name: Configuring globals.yml settings
  ansible.builtin.import_playbook: setup-config-files.yml

- name: Enable Cinder
  ansible.builtin.import_playbook: cinder/main.yml

- name: Enable Swift
  ansible.builtin.import_playbook: swift/main.yml

- name: Enable Manila
  ansible.builtin.import_playbook: manila/main.yml

- name: AIO Deploy
  ansible.builtin.import_playbook: aio-deploy.yml
