- name: Configuring globals.yml settings
  vars_files: vars/global-configuration
  hosts: localhost
  remote_user: root
  connection: local
  vars:
    network_interface: "ens18"
    ansible_ssh_private_key_file: "/home/user0/.ssh/deploy-key"
  tasks:
    - name: Adjust kolla_base_distro
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#kolla_base_distro: "rocky"'
        replace: 'kolla_base_distro: "{{ kolla_base_distro }}"'
        backup: true
    - name: Replace network_interface
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#network_interface: "eth0"'
        replace: 'network_interface: "{{ network_interface }}"'
    - name: Replace neutron_external_interface
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#neutron_external_interface: "eth1"'
        replace: 'neutron_external_interface: "{{ neutron_external_interface }}"'
    - name: Replace kolla_internal_vip_address
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#kolla_internal_vip_address: "10.10.10.254"'
        replace: 'kolla_internal_vip_address: "{{ kolla_internal_vip_address }}"'
