- name: Configuring globals.yml settings
  vars_files: vars/global-vars.yml
  hosts: localhost
  remote_user: root
  connection: local
  tasks:
    - name: Adjust kolla_base_distro
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#kolla_base_distro: "rocky"'
        replace: 'kolla_base_distro: "{{ kolla_base_distro }}"'
    - name: Replace network_interface
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#network_interface: "eth0"'
        replace: 'network_interface: "{{ network_interface }}"'
    - name: Replace neutron_external_interface
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#neutron_external_interface: "eth1"'
        replace: 'neutron_external_interface: "{{ neutron_external_interface }}"'
    - name: Replace kolla_internal_vip_address
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#kolla_internal_vip_address: "10.10.10.254"'
        replace: 'kolla_internal_vip_address: "{{ kolla_internal_vip_address }}"'
    - name: Enable Cinder 1.0
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder: "no"'
        replace: 'enable_cinder: yes"'
    - name: Enable Cinder 1.1
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder_backend_lvm: "no"'
        replace: 'enable_cinder_backend_lvm: yes'
    - name: Enable Cinder 1.2
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder_backend_iscsi: {{ "{{ enable_cinder_backend_lvm | bool }}" | regex_escape() }}'
        replace: 'enable_cinder_backend_iscsi: {{ "{{ enable_cinder_backend_lvm | bool }}" | regex_escape() | regex_replace("\\", "") }}'
    - name: Enable Cinder 1.3
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_iscsid: {{ "{{ enable_cinder | bool and enable_cinder_backend_iscsi | bool }}" | regex_escape() }}'
        replace: 'enable_iscsid: {{ "{{ enable_cinder | bool and enable_cinder_backend_iscsi | bool }}" | regex_escape() | regex_replace("\\", "") }}'
    - name: Enable Cinder 1.4
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#cinder_volume_group: "cinder-volumes"'
        replace: 'cinder_volume_group: "cinder-volumes"'
