- name: Configure VM Flavors
  hosts: localhost
  tasks:
    - name: Create tiny flavor
      openstack.cloud.compute_flavor:
        state: present
        name: m1.tiny
        ram: 512
        vcpus: 1
        disk: 1
    - name: Create small flavor
      openstack.cloud.compute_flavor:
        state: present
        name: m1.small
        ram: 512
        vcpus: 1
        disk: 5
    - name: Create Talos controller node flavor
      openstack.cloud.compute_flavor:
        state: present
        name: talos.controller
        vcpus: 4
        ram: 4096
        disk: 20
        ephemeral: 80
    - name: Create Talos worker node flavor
      openstack.cloud.compute_flavor:
        state: present
        name: talos.worker
        vcpus: 2
        ram: 2048
        disk: 20
        ephemeral: 80
