- name: Configuring Cinder service settings
  vars_files: vars.yml
  hosts: localhost
  remote_user: root
  connection: local
  tasks:
    - name: Enable Cinder 1.0
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder: "no"'
        replace: 'enable_cinder: "yes"'
    - name: Enable Cinder 1.1
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder_backend_lvm: "no"'
        replace: 'enable_cinder_backend_lvm: "yes"'
    - name: Enable Cinder 1.2
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_cinder_backend_iscsi: "{{ "{{ enable_cinder_backend_lvm | bool }}" | regex_escape() }}"'
        replace: 'enable_cinder_backend_iscsi: "{{ "{{ enable_cinder_backend_lvm | bool }}" | regex_escape() | regex_replace("\\", "") }}"'
    - name: Enable Cinder 1.3
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#enable_iscsid: "{{ "{{ enable_cinder | bool and enable_cinder_backend_iscsi | bool }}" | regex_escape() }}"'
        replace: 'enable_iscsid: "{{ "{{ enable_cinder | bool and enable_cinder_backend_iscsi | bool }}" | regex_escape() | regex_replace("\\", "") }}"'
    - name: Enable Cinder 1.4
      become: true
      ansible.builtin.replace:
        path: /etc/kolla/globals.yml
        regexp: '#cinder_volume_group: "cinder-volumes"'
        replace: 'cinder_volume_group: "{{ volume_group_name }}"'
