- name: Openstack Infrastructure Deployment
  hosts: localhost
  tasks:
    - name: Test
      ansible.builtin.debug:
        msg: "ok"

- name: Z-auth
  ansible.builtin.import_playbook: ./auth/configure-identity.yml

- name: Z-flavor
  ansible.builtin.import_playbook: ./flavor/configure-vm-flavors.yml

- name: S-vm-image
  ansible.builtin.import_playbook: ./vm-image/prepare-vm-images.yml

- name: S-network
  ansible.builtin.import_playbook: ./network/main.yml

- name: S-instance
  ansible.builtin.import_playbook: ./instances/main.yml
